{% extends '@KunstmaanAdminList/Default/add_or_edit.html.twig' %}
{% form_theme form '@KunstmaanAdmin/Form/fields.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb app__content__breadcrumb">
        <li><a href="{{ path('superrbkunstmaansocialmediabundle_admin_social') }}">Social Media</a></li>
        <li class="active">Add New Custom Social Media Post</li>
    </ul>
{% endblock %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            Add New Custom Social Media Post
        </h1>
    </div>
{% endblock %}

{% block content %}
    <!-- Fields -->
    <fieldset class="form__fieldset--padded">
        {{ form_row(form.type) }}
        {{ form_row(form.username) }}
        {{ form_row(form.datePosted) }}
        {{ form_row(form.link) }}
        {{ form_row(form.customImage) }}

        <div id="instagram-options">
            {{ form_row(form.instagramCaption) }}
        </div>

        <div id="twitter-options">
            {{ form_row(form.twitterContent) }}
        </div>

        {{ form_row(form.approved) }}

    </fieldset>
    {{ form_end(form) }}
{% endblock %}

{% block extrajavascript %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var kumaSocialActive = document.querySelector('#{{ form.vars.name }}_type');

            function kumaSocialInstagramForm() {
                if (kumaSocialActive.options[kumaSocialActive.selectedIndex].value == 'twitter') {
                    document.querySelector('#instagram-options').style.display = 'none';
                    document.querySelector('#twitter-options').style.display = 'block';
                    document.querySelector('#{{ form.vars.name }}_instagramCaption').setAttribute('required', null);
                    document.querySelector('#{{ form.vars.name }}_twitterContent').setAttribute('required', 'required');
                } else {
                    document.querySelector('#instagram-options').style.display = 'block';
                    document.querySelector('#twitter-options').style.display = 'none';
                    document.querySelector('#{{ form.vars.name }}_instagramCaption').setAttribute('required', 'required');
                    document.querySelector('#{{ form.vars.name }}_twitterContent').setAttribute('required', null);
                }
            }

            kumaSocialInstagramForm();
            kumaSocialActive.addEventListener('change', function () {
                kumaSocialInstagramForm();
            }, false);
        });
    </script>

{% endblock %}
