{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {% if adminmenu.current %}
                {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
            {% else %}
                {{ adminlist.configurator.getEntityName() }}
            {% endif %}
            > Tumblr Settings
        </h1>
    </div>
{% endblock %}

{% block extra_actions_header %}
    <div class="col-sm-6 col-md-4">
        <div class="app__content__header__extra-actions">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ url('superrbkunstmaansocialmediabundle_admin_social') }}">Back
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ url('superrbkunstmaansocialmediabundle_admin_social_authenticate_tumblr') }}" method="post" {{ form_enctype(form) }}>
        <fieldset class="form__fieldset--padded">

            {% if isAuthenticated %}
                <p>Your account is currently <strong>active</strong> and <strong>logged in</strong>.</p>
            {% else %}
                <p>Use this page to add the customer key and other settings in order to allow this website access to Tumblr.</p>
                <p>Your redirect URL is: <strong>{{ redirectUrl }}</strong>, you will need this to set up the Tumblr App. Apps can be set up at <a href="https://www.tumblr.com/oauth/apps" target="_blank">https://www.tumblr.com/oauth/apps</a></p>
            {% endif %}

            {{ form_widget(form) }}
            <input type="submit" value="{% if isAuthenticated %}Update Tumblr Details{% else %}Log in to Tumblr{% endif %}">
        </fieldset>
    </form>
{% endblock content %}