{% extends '@KunstmaanAdminList/Default/list.html.twig' %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {% if adminmenu.current %}
                {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
            {% else %}
                {{ adminlist.configurator.getEntityName() }}
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% if adminlist.getIndexUrl()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()) }}
    {% endif %}
{% endblock %}

{% block extrajavascript %}
    <script src="/bundles/superrbkunstmaansocialmedia/js/promise.polyfill.js"></script>
    <script src="/bundles/superrbkunstmaansocialmedia/js/fetch.polyfill.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkBoxes = document.getElementsByClassName('social-media-approval'), l = checkBoxes.length, i, cur;

            for (i = 0; i < l; i++) {
                (function(cur){
                    cur.addEventListener('change', function() {
                        var url = "{{ path('superrbkunstmaansocialmediabundle_admin_social_approve') }}/" + cur.getAttribute('data-id');
                        fetch(url, {'credentials': 'include'}).then(function(response){
                            if(response.ok) {
                                return response.json();
                            }
                        });
                    }, false);
                })(checkBoxes[i])
            }
        });
    </script>
{% endblock %}
