{% if posts is not empty %}
    {% for post in posts %}
        <a class="post" href="{{ post.link }}" target="_blank">
            <img src="{{ post.image }}" alt="{{ post.text }}" />
            {{ post.text|length > 100 ? post.text|slice(0, 100) ~ '...' : post.text }}
            <span class="date">
                {#get the difference between the now and the date posted#}
                {% set difference = date("now").diff(date(post.datePosted)) %}
                {% set leftDays = difference.days %}
                {# echo the difference #}
                {% if leftDays == 0 %}
                    Today
                {% elseif leftDays == 1 %}
                    1 day ago
                {% else %}
                    {{ leftDays }} days ago
                {% endif %}
            </span>
        </a>
    {% endfor %}
{% endif %}